#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.element {
  .center-block();
}
